* {
  font-family: Raleway, Roboto, Arial, sans-serif;
  font-size: 18px;
}

body {
  background-color: #ffbb009c;
}

h1 {
  text-align: center;
  font-size: 36px;
  background-color: lightgrey;
}

h2 {
  font-size: 30px;
}

.recipe-list {
  font-size: 24px;
}

button {
  padding: 10px;
  border-radius: 50px;
  background-color: #eeff00;
}
